*{
    box-sizing: border-box;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.menubar{
    display: flex;
    width: 98%;
    margin: 15px;

}

.busqueda {
    display: flex;
    justify-content: start;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    height: 25px;
}

.navegador{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 53px;
    margin-left: 100px;
}

/*HAY QUE ARREGLAR LOS PALITOS NEGROS*/

.navegador a {
    justify-content: space-between;
    margin: 20px;
    color: white;
}

section{
    display: flex;
    flex-direction: row;
}

section article{
    justify-content: space-between;
    
}
footer{
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 100px;
     background-color: #060063;
    color: white; 
}

article img{
    width: 200px;
}
/* arranco login*/
.title{
text-align: center;
margin: bottom 20px;
}
.formlogin {
    max-width: 400px; 
    margin: 20px auto; 
    padding: 50px; 
    background-color:rgb(226, 156, 216);
    border-radius: 5px; 
}
input{
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    font-size: 14px;
}
a{
    text-decoration: none;
    color: black;
}
.ingreso{
    padding: 10px;
    background-color:  rgb(210, 176, 255);
    border-radius: 5px;
}
/*Este es registrer*/
.registrer{
    max-width: 400px; 
    margin: 20px auto; 
    padding: 50px; 
    background-color:rgb(226, 156, 216);
    border-radius: 5px; 
}
.check{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    
}
